<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       <%@artist.first_name%>
      </h1>
     
    </div>
  </div>
</section>
<%= render "/songs/form", song: @song%>
<%=link_to "Show", artist_path(@artist), class: "button"%>
<%= link_to "Back", artist_path(@artist), class: "button"%>