<div class = "container">

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Billboards
      </h1>
      <h2 class="subtitle">
        <hr />
      </h2>
    </div>
  </div>
</section>
<ul>
<%@billboards.each do |b|%>
<li>
<%=b.name%>
</li>
<%end%>
</ul>



<%= link_to "New Billboard", new_billboard_path, class: "button"%>
<%#=link_to "Edit Billboard", edit_billboard_path(@billboard), class: "button"%>
</div>
<%#@names.each do |name|%>