<div class = "container">

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Billboards
      </h1>
      <h2 class="subtitle">
        Hero subtitle
      </h2>
    </div>
  </div>
</section>
<p>Find me in app/views/billboards/index.html.erb</p>
</div>
