<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Billboards
      </h1>
      <h2 class="subtitle">
        Create New Billboard
      </h2>
    </div>
  </div>
</section>


<%= render "form", billboard: @billboard%>


<button class = "button">
<%= link_to "Back", billboards_path%>
</button>

