<h1 style = "text-align:center; font-size:50px;">Billboard's <strong><%=@billboard.name%></strong></h1>
<hr />
<br />

<%# @songs.each do |song| %>
  <%#= render 'songs/song_index', { song: song } %>
<%#end %>

<%#= render "/songs/song_index", {billboard: billboard, song: song}%>

<%#= render "song_index", song: @song%>
<ol>
<% @songs.each do |s|%>
<% if s.on_billboard ==true && s.genre == "classical"%>
<li><%=s.name%></li>
<%end%>
<%end%>
</ol>
<div class = "button-div" style = "display:flex; justify-content:center;">
<button class = "button">
<%= link_to "Show Songs", billboard_songs_path(@billboard)%>
</button>
<button class = "button">
<%= link_to "Back", billboards_path%>
</button>

</div>




